.git
.gitignore

.venv
__pycache__
*.py[cod]
*.egg-info
.ruff_cache
.ipynb_checkpoints
.pytest_cache
.mypy_cache

frontend/node_modules
frontend/dist
frontend/.vite

data/raw
mlruns
notebooks

.vscode
.idea
.DS_Store

Dockerfile*
docker-compose*.yml
.dockerignore
